#app {
  .container-set {
    display: flex;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  // 主体区域
  .main-container {
    flex: 1;
    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.28s;
  }

  // 侧边栏
  .sidebar-container {
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    transition: width 0.28s;
    width: 256px !important;
    flex-shrink: 0;
    font-size: 0;
    z-index: 1001;
    min-height: 0;
    display: flex;
    flex-direction: column;
    background-color: $menuBg;
    border-right: 1px solid $borderColor;

    a {
      display: inline-block;
      width: 100%;
    }

    .svg-icon {
      margin-left: 14px;
    }

    .el-menu {
      border: none;
      width: 100% !important;
      background-color: transparent;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 60px !important;
    }

    .navbar-header-fixed {
      width: calc(100% - 60px);
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;
      }
    }

    .el-submenu {
      & > .el-submenu__title {
        padding-left: 10px !important;

        & > span {
          height: 0;
          width: 0;
          overflow: hidden;
          visibility: hidden;
          display: inline-block;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
  }

  .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      top: 50px;
      transition: transform 0.28s;
      width: 180px !important;
    }

    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
